.credit-calc {
    align-items: center;
    justify-content: center;
}

.credit-input {
    display: grid;
    padding: 30px;
    gap: 15px;
    font-size: 18px;
    text-align: left;
}

.credit-input .pay-type {
    margin-left: 20px;
}

.credit-input hr {
    background: linear-gradient(to right, #00FF7F, #00CED1);
    height: 2px;
    border: none;
    margin-top: 20px;
}

#pay, #percent, #totalSum {
    border: none;
    background: none;
    color: white;
    margin: 0px;
}

.credit-input #credit-graph {
    max-width: 370px;
    max-height: 110px;
    grid-row-end: span 3;
}

.box-center {
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.table-scroll {
    grid-column-start: 1;
    grid-column-end: 4;
    max-height: 300px;
    display: block;
    overflow: auto;
    max-width: 100%;
    text-align: center;
}

.table-scroll table {
    width: 800px;
    table-layout: fixed;
    border: none;
}

.table-scroll thead th {
    font-weight: bold;
    text-align: center;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
}

.table-scroll tbody td {
    text-align: center;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
}

.table-scroll tbody tr:nth-child(even){
    -background: #f3f3f3;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 6px #00CED1;
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0px 0px 6px #00FF7F;
}