#dialog {
    position: absolute;
    top: 50%;
    width: 12%;
    min-width: 300px;
    min-height: 170px;
    height: 12%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 15px;
    user-select: none;
}

dialog::backdrop {
  background: rgba(29, 38, 51, 0.55);
  backdrop-filter: blur(2px);
}

#dialog>.dialog-items {
    position: relative;
    background: none;
}

.dialog-but {
    background: none;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    width: 45%;
    font-size: 1.2rem;
    padding: 0.5rem;
}

.dialog-but:hover {
    color: rgb(56, 206, 223);
    transition: 0.1s;
}

.dialog-but:active {
    color: #00FF7F;
    transform: scale(1.1);
}

#dialog>input {
    position: relative;
    width: 92%;
    margin: 20px 0 20px;
}
