nav {
    padding: 3rem;
    display: flex;
    justify-content: center;
}

.header {
    padding: 3rem;
    display: flex;
    justify-content: center;

    -background: red;
    -background: #00FF7F;
    -display: grid;
    -display: flex;

    -position: relative;
    -width: 820px;
    -left: 25%;
    -top: 5%;
    -color: var(--text-color);
    -text-align: center;
    -font-size: 1.2rem;
    -grid-template-columns: repeat(5, auto);
    -gap: 5rem;
    -z-index: 2;
}

-.head-item{
    background: linear-gradient(rgba(35, 41, 62), rgba(35, 61, 102));
    border: none;
    height: 50px;
    padding-top: 12px;
    color: var(--text-color);
    cursor:pointer;
    text-decoration:none;
}

.head-item{
    -border: 1px solid black;
    -height: 45px;
    padding: 1rem;
    color: #00CED1;
    cursor:pointer;
    animation: fade 1s easy-in 1s;
    }

    @keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.head-item:hover{
     background: linear-gradient(90deg, #00FF7F 0%, #00CED1 60%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

.hide-history:hover{
    border: none;
}

.history:hover + .hide-history{
    display: block;
}

.hide-history{
    -background: rgba(35, 61, 102);
    display: none;
    position: absolute;
    top: 45px;
    width: 20%;
    right: 0%;
    padding: 10px;
    z-index: 2;
}

.hide-history:hover{
    display: block;
}

.table{
    font-size: 15px;
    text-align: left;
    padding: 0px;
}

.hide-theme > .head-item {
    background: rgba(35, 61, 102);

    -grid-template-rows: 1fr 1fr;
    display: none;
    position: absolute;
    -top: 45px;
    -width: 20%;
    -right: 20%;
    -padding: 5px;
    z-index: 0;
}

.theme:hover + .hide-theme{
    transition: 1s;
    display: block;
}

.hide-theme:hover{
    display: block;

}

.head-but{
    background: none;
    border: none;
    font-size: 15px;
    width: 100%;
}

-.active-line {
    position: absolute;
    background: #00FF7F;
    border-radius: 5rem;
    height: 3px;
    left: 0%;
    bottom: 0px;
    width: 80%;
    left: 10%;
}