html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Trebuchet MS, sans-serif, bold;
}

body {
    height: 100%;
    width: 100%;
    user-select: none;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

.slider>input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.slider {
    background: #EBECF4;
    position: relative;
    height: 100%;
    width: 100%;
    min-width: 450px;
    -background: var(--back-container-color);
    overflow: hidden;
}

.header {
    background: linear-gradient(rgb(29, 38, 51) 0%, rgb(19, 48, 81) 100%);
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-item {
    background: rgb(24, 43, 66);
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    padding: 1rem;
    z-index: 1;
    cursor:pointer;
    font-size: 2rem;
}

input[type="radio"]:checked ~ .header>label {
    font-size: 1.2rem;
}

input[type="radio"]:checked ~ .header {
    height: 200px;
    min-height: 200px;
    transition: 1.5s;
}

#webCalc:checked ~ .header>label[for="webCalc"] {
    color: #00FF7F;
    transform: scale(1.2);
    z-index: 2;
    transition: 1s;
}

#webCalc:not(:checked) ~ .header>label[for="webCalc"] {
    transform: scale(1);
    transition: 1s;
}

#creditCalc:checked ~ .header>label[for="creditCalc"] {
    color: #00FF7F;
    transform: scale(1.2);
    z-index: 2;
    transition: 1s;
}

#creditCalc:not(:checked) ~ .header>label[for="creditCalc"] {
    transform: scale(1);
    transition: 1s;
}

#depositCalc:checked ~ .header>label[for="depositCalc"] {
    color: #00FF7F;
    transform: scale(1.2);
    z-index: 2;
    transition: 1s;
}

#depositCalc:not(:checked) ~ .header>label[for="depositCalc"] {
    transform: scale(1);
    transition: 1s;
}

.hide {
    justify-content: center;
    position: relative;
}

.hide>.hide-theme {
    position: absolute;
    display: none;
    top: 100%;
    width: 100%;
    z-index: 1;
}

.head-but {
    position: relative;
    background: none;
    border: none;
    width: 100%;
    font-size: 1.2rem;
    justify-content: center;
    padding: 0.6rem;
    color: white;
}

.hide:hover .hide-theme {
    display: block;
}

.head-item:hover {
    color: #00CED1;
    -transition: 1s;
}

input[type="radio"]:checked ~ .header>label>a[class="hide-theme"]>.head-but {
    font-size: 0.95rem;
}

.history-table {
    position: relative;
    -background: linear-gradient(to right, #00FF7F, #00CED1);
    background: linear-gradient(rgb(19, 48, 81) 70%, rgb(29, 48, 81) 100%);

    font-size: 14px;
    color: white;
    -color: #00CED1;
    text-align: left;
    border: none;
    max-height: 250px;
    min-width: 100%;

    -max-width: 300%;
    overflow-y: auto;
    display: inline-block;
}

.history-table tr td {
    -position: relative;
    -background: green;
    border: none;
    -max-width: 150%;
    justify-content: center;
    padding: 0.7rem;
    -display: block;
    -overflow-x: scroll;
}

.history-table tr td:hover{
    color: #00FF7F;
}