.header{
    -background: #e3f9ff;
    -background: #00FF7F;
    display: grid;
    color: var(--text-color);
    text-align: center;
    font-size: 20px;
    grid-template-columns: repeat(5, 1fr);
}

-.head-item{
    background: linear-gradient(rgba(35, 41, 62), rgba(35, 61, 102));
    border: none;
    height: 50px;
    padding-top: 12px;
    color: var(--text-color);
    cursor:pointer;
    text-decoration:none;
}

.head-item{
    -background: linear-gradient(rgba(35, 41, 62), rgba(35, 61, 102));
    background: linear-gradient(to right, rgba(67, 124, 205), #00FF7F);

    -height: 50px;
    padding-top: 12px;
    -color: var(--text-color);
    -cursor:pointer;
    -text-decoration:none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fade 1s easy-in 1s;
    -opacity: 1;
    }

    @keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.head-item:hover{
     background: linear-gradient(90deg, #00FF7F 0%, #00CED1 100%);
     border-top-color: transparent;
     border-bottom-color: transparent;
     border-right-color: #00CED1;
     border-left-color: #00FF7F;
}

.hide-history:hover{
    border: none;
}

.history:hover + .hide-history{
    display: block;
}

.hide-history{
    background: rgba(35, 61, 102);
    display: none;
    position: absolute;
    top: 50px;
    width: 20%;
    right: 0%;
    padding: 10px;
    z-index: 2;
}

.hide-history:hover{
    display: block;
}

.table{
    font-size: 15px;
    text-align: left;
    padding: 0px;
}

.hide-theme{
    background: rgba(35, 61, 102);
    display: grid;
    grid-template-rows: 1fr 1fr;
    display: none;
    position: absolute;
    top: 50px;
    width: 20%;
    right: 20%;
    padding: 10px;
    z-index: 2;
}

.theme:hover + .hide-theme{
    display: block;
}

.hide-theme:hover{
    display: block;

}

.head-but{
    background: none;
    border: none;
    position: bottom;
    font-size: 15px;
    width: 100%;
}