:root {
  --text-color: white;
  --back-container-color: #e3f9ff;
}


.container {
    background: none;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    position: relative;
}

.interface{
    position: relative;
    display: grid;
    width: 600px;
    height: 500px;
    min-width: 400px;
    min-height: 300px;
    background: linear-gradient(rgba(35, 41, 62, 50), rgba(35, 61, 102, 50));
    grid-template-rows: 2fr 1fr 4fr;
    padding: 10px;
    gap: 10px;
    border-radius: 15px;
    word-break: break-all;
    z-index: 1;
  	box-shadow: 2px 2px 15px 1px rgba(25, 25, 25, 1);
}

.window {
    position: relative;
    background: linear-gradient(rgba(35, 41, 62, 50), rgba(35, 61, 102, 50)) padding-box,
             linear-gradient(to right, #00FF7F, #00CED1) border-box;
    border-radius: 10px;
    border: 1px solid transparent;
    color: var(--text-color);
    font-size: 20px;
    text-align: center;
}

.disp1 {
    padding-top: 50px;
}

.disp2 {
    padding-top: 20px;
}

.buttons-box{
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

 .buttons:hover{
     background: linear-gradient(90deg, #00FF7F 0%, #00CED1 100%);
     border-top-color: transparent;
     border-bottom-color: transparent;
     border-right-color: #00CED1;
     border-left-color: #00FF7F;
  }

 .buttons{
     background: linear-gradient(rgba(35, 41, 62, 50), rgba(35, 81, 102, 50)) padding-box,
                 linear-gradient(to right, #00FF7F, #00CED1) border-box;
     border-radius: 9px;
     border: 1px solid transparent;
     font-size: 20px;
     color: var(--text-color);
     cursor: pointer;
  }

.buttons:active {
    background: #00FF7F;
    transform: scale(1.1);
}

.graph-but {
    display: flex;
    align-items: center;
    justify-content: center;
}