.wrapper {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 0;
    transition: 1s;
    transform: translateY(-10%);
}

.web-calc {
    left: -100%;;
}

.credit-calc {
    left: 100%;
}

.deposit-calc {
    left: 200%;
}

#webCalc:checked ~ .web-calc {
    left: 0;
    transition: 1.5s;
}

#webCalc:checked ~ .credit-calc {
    left: 100%;
}

#webCalc:checked ~ .deposit-calc {
    left: 200%;
}

#creditCalc:checked ~ .credit-calc {
    left: 0;
    transition: 1.5s;
}

#creditCalc:checked ~ .deposit-calc {
    left: 100%;
}

#creditCalc:checked ~ .web-calc {
    left: -100%;
}

#depositCalc:checked ~ .deposit-calc {
    left: 0;
    transition: 1.5s;
}

#depositCalc:checked ~ .credit-calc {
    left: -100%;
}

#depositCalc:checked ~ .web-calc {
    left: -200%;
}