<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/interface.css" th:href="@{/css/interface.css}">
    <link rel="stylesheet" href="/static/css/header.css" th:href="@{/css/header.css}">
</head>
<body>

<div class="credit-header header">
    <a class="item" href="main.html">Web Calculator</a>
    <a class="item" href="credit.html">Credit Calculator</a>

</div>

<div class="container">

</div>
</body>
</html>