<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>

<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/7.5.1/math.min.js"></script>-->

    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="/static/css/interface.css" th:href="@{/css/interface.css}">
    <link rel="stylesheet" href="/static/css/header.css" th:href="@{/css/header.css}">
    <link rel="stylesheet" href="/static/css/dialog.css" th:href="@{/css/dialog.css}">
    <link rel="stylesheet" href="/static/css/wrap.css" th:href="@{/css/wrap.css}">

<!--    <script type="text/javascript" src="../static/js/theme_change.js" th:src="@{js/theme_change.js}"></script>-->


    <script type="text/javascript" src="../static/js/request_service.js" th:src="@{js/request_service.js}"></script>
    <script type="text/javascript" src="../static/js/graphic_settings.js" th:src="@{js/graphic_settings.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

</head>
<body>

    <div class="slider">
        <input type="radio" name="slide-group" id="webCalc"/>
        <input type="radio" name="slide-group" id="creditCalc"/>
        <input type="radio" name="slide-group" id="depositCalc"/>
        <input type="checkbox" id="graph"/>

        <div class="header">
            <label class="head-item" for="webCalc">Calculator</label>
            <label class="head-item" for="creditCalc">Credit</label>
            <label class="head-item" for="depositCalc">Deposit</label>

            <label class="head-item hide">Themes
                <a class="hide-theme">
                    <button class="head-item head-but" type="submit" onclick="setWhiteTextColor()">Light mode</button>
                    <button class="head-item head-but" type="submit" onclick="setRedTextColor()">Dark mode</button>
                </a>
            </label>

            <label class="head-item hide">History
                <a class="hide-theme">
                    <table class="table" style="width:100%">
                        <tr th:each="exp : ${expList}">
                            <td th:utext="${exp}"></td>
                        </tr>
                    </table>
                    <button class="head-item head-but" form="form" type="submit" formaction="/clean">Clean</button>
                </a>
            </label>
        </div>

        <div class="wrapper web-calc">
            <div class="container">
                    <div class="calculator">
                        <div id="graph-area" class="graph-box window">
                            <canvas id="graphic" class=""></canvas>
                        </div>

                        <div class="graph-setting-box window">
                            <label for="input-minX">X min</label><input type="number" id="input-minX">
                            <label for="input-maxX">X max</label><input type="number" id="input-maxX">
                            <label for="input-step">Step</label><input type="number" id="input-step">

                            <button id="draw-but" class="buttons">Draw</button>
                            <button id="clear-graph-but" class="buttons" onclick="clearGraph()">Clear</button>


                        </div>

                        <div class="interface">
                            <div class="window">
                                <p class="disp1"></p>

                                <dialog id="dialog" class="window">
                                        <label for="input-x">Введите X</label><input id="input-x" type="number">
                                    <div class="dialog-items">
                                        <button id="dialog-ok" class="dialog-but">Ок</button>
                                        <button id="dialog-cancel" class="dialog-but">Отмена</button>
                                    </div>
                                </dialog>
                            </div>

                            <div class="window">
                                <p class="disp2"></p>
                            </div>

                            <div class="buttonss">
                                <button class="buttons other">(</button>
                                <button class="buttons other">)</button>
                                <button class="buttons other">x</button>
                                <button class="buttons ac">AC</button>
                                <button class="buttons oper">^</button>
                                <button class="buttons">+/-</button>
                                <button class="buttons oper">/</button>

                                <button class="buttons func">sin</button>
                                <button class="buttons func">cos</button>
                                <button class="buttons func">tan</button>
                                <button class="buttons num">7</button>
                                <button class="buttons num">8</button>
                                <button class="buttons num">9</button>
                                <button class="buttons oper">*</button>

                                <button class="buttons func">asin</button>
                                <button class="buttons func">acos</button>
                                <button class="buttons func">atan</button>
                                <button class="buttons num">4</button>
                                <button class="buttons num">5</button>
                                <button class="buttons num">6</button>
                                <button class="buttons oper">-</button>

                                <button class="buttons func">log</button>
                                <button class="buttons func">sqrt</button>
                                <button class="buttons">mod</button>
                                <button class="buttons num">1</button>
                                <button class="buttons num">2</button>
                                <button class="buttons num">3</button>
                                <button class="buttons oper">+</button>

                                <button class="buttons func">ln</button>
                                <label class="buttons graph-but" for="graph">graph</label>
                                <button class="buttons num">e</button>
                                <button class="buttons num">0</button>
                                <button class="buttons num">0</button>
                                <button class="buttons num">.</button>
                                <button class="buttons eq">=</button>

                            </div>
                        </div>
                    </div>


                </div>

        </div>

        <div class="wrapper credit-calc">
            <div class="container">

                <div class="credit-input window">
                    <p class="box-center">Условия кредита</p>

                    <label for="credit-sum">Сумма кредита</label><input type="number" id="credit-sum">
                    <label for="credit-period">Срок кредита</label><input type="number" id="credit-period">
                    <label for="credit-percent">Процентная ставка</label><input type="number" id="credit-percent">
                    <label class="box-center">Тип ежемесячных платежей</label>

                    <label for="paymentType1">Аннуитетные
                        <input id="paymentType1" type="radio" name="credit-type" checked/>
                    </label>
                    <label for="payment_type2">Дифференцированные
                        <input id="payment_type2" type="radio" name="credit-type"/>
                    </label>

                    <button id="credit-result" class="buttons box-center" onclick="calcCredit()">Расчитать</button>
                </div>

                <div class="credit-output window">
                    <label for="pay">Ежемесячный платеж</label><input readonly type="number" id="pay">
                    <label for="percent">Начисленные проценты</label><input readonly type="number" id="percent">
                    <label for="totalSum">Долг + проценты</label><input readonly type="number" id="totalSum">
                </div>


            </div>
        </div>



    </div>

    <script type="text/javascript" src="../static/js/graphic.js" th:src="@{js/graphic.js}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/gsap.min.js"></script>
    <script type="text/javascript" src="../static/js/button_actions.js" th:src="@{js/button_actions.js}"></script>

</body>
</html>